<div class="infoPackageAndTracking">
    <div class="infoPackage">
        <div class="imageBox">
            <img src="/images/boxes.svg" />
        </div>
        <div class="infoBox">
            <p>Verzender:</p><p> Bol.com</p>
            <p>Referentienr.:</p><p> 02258</p>
            <p>Beschrijving:</p><p> kleren</p>
        </div>
    </div>
    <div class="infoTracking">
        <p>Status</p>
        <ul class="liImage">
            <li>15/06 - Bestelling ontvangen</li>
            <li>16/06 - Bestelling verwerkt</li>
            <li>16/06 - Pakket klaar</li>
        </ul>
    </div>
</div>

@code {

}
