<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2510.1429306528203!2d3.7329656159052704!3d51.01350825451405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c374756e467785%3A0x807365f624464c42!2sBlue%20Tower%201%2C%20Sluisweg%201%2C%209000%20Gent!5e0!3m2!1snl!2sbe!4v1666625783028!5m2!1snl!2sbe" width="575" height="395" style="border:5px solid #EC4842;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@code {
     
}
