@page "/"

<PageTitle>Home</PageTitle>

<div class="container justify-content-center align-items-center">
    <div class="row">
        <div class="col-4">
            <a href="tablePage">
                <img src="/images/ordertrackingicon.png" alt="orderTracking" />
            </a>
        </div>
        <div class="col-4">
            <a href="packageShipment">
                <img src="/images/shipmentmoduleicon.png" alt="shipmentModule" />
            </a>
        </div>
        <div class="col-4">
            <a href="notificationPage">
                <img src="/images/notificationIcon.png" />
            </a>
        </div>
    </div>
</div>
