@page "/orders/{OrderId}"
@using Client.Components.OrderDetails

<PageTitle>Order Details</PageTitle>

<div class="content">
    <div class="top">
        <div class="title">Bestel Nr. @order?.OrderId</div>
    </div>
    <div class="mainContent">
        <div class="status">
            <StatusComponent OrderStatus=@order?.OrderStatus /> @*Moet nog geïmplementeerd worden --> nu nog fout*@
        </div>
        <div class="orderInfo">
            <OrderInfoComponent />
        </div>
        <div class="address_map">
            <div class="address">
                <div>
                     <AddressComponent />
                 </div>
            </div>
                <div class="map">
                    <MapComponent />
                </div>
            
           </div>
        <div class="log">
            <LogComponent />
        </div>
    </div>
    <button class="feedback">
        <img src="/images/feedback.svg" />
    </button>
</div>